<!-- <div class="row">
    <div class="col-md-8">
        <div class="col-md-4 pull-left">
            <h3 style="margin: 0; padding: 0;">Categories</h3>
        </div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-secondary btn-sm" mat-raised-button (click)="openDialog()">Create a category</button>
        </div>
    </div>
</div> -->

<h3 style="margin: 0; padding: 0;">Categories</h3>
<div class="row admin-bg margin-20">
    <div class="col-md-8">
        <button class="btn btn-primary btn-sm margin-10" (click)="openDialog()">Create a category</button>
        <table class="table margin-20">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th colspan="2">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of categories">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>
                        <a [routerLink]="'edit/' + c.id">Edit</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>