<div class="row">
    <div class="col-xs-8">
        <h3>Site navigation</h3>
        <p>Here you can create site navigation hierarchy and assign appropriate logical categories to them.</p>
    </div>
</div>
<hr style="margin-top: 5px">

<div class="row margin-20">
    <div class="col-md-6 flex-start">
        <button class="btn btn-primary btn-md" (click)="createNavigation()">Create</button>
        <button class="btn btn-primary btn-md" data-toggle="collapse" data-target=".collapsable" (click)="toggleCollapsation()">{{btnCollapseText}}</button>
    </div>
</div>

<!-- <div class="row margin-20">
    <div class="col-md-6">
        <div class="list-group">
            <ng-container *ngFor="let category of categories">

                <a *ngIf="category.children.length == 0" class="list-group-item list-group-item-success" (click)="editNavigation(category.id)">
                    {{category.name}}
                </a>

                <a *ngIf="category.children.length > 0" class="list-group-item list-group-item-success" (click)="editNavigation(category.id)">
                    {{category.name}}
                    <div class="list-group collapsable in">
                        <ng-container *ngFor="let sub of category.children">
                            <a *ngIf="sub.children.length == 0" class="list-group-item list-group-item-info" (click)="editNavigation(sub.id)">
                                {{sub.name}}
                            </a>
                            <a *ngIf="sub.children.length > 0" class="list-group-item list-group-item-info" (click)="editNavigation(sub.id)">
                                {{sub.name}}
                                <div class="list-group collapsable in">
                                    <a *ngFor="let sub2 of sub.children" class="list-group-item list-group-item-warning" (click)="editNavigation(sub2.id)">
                                        {{sub2.name}}
                                    </a>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</div> -->

<div class="row margin-20">
    <div class="col-md-6">
        <div class="list-group">
            <ng-container *ngFor="let category of categories">
                <a *ngIf="category.children.length == 0" class="list-group-item list-group-item-success">
                    <div class="flex-between">
                        <div class="category-name"><span style="font-weight:normal">[{{category.id}}]</span> {{category.name}}</div>
                        <div>
                            <a (click)="editNavigation(category.id)" class="edit"><img alt="Edit" src="assets/admin_icons/edit.png" height="10"></a>
                            <a (click)="removeNavigation(category.id)" class="remove"><img alt="Remove" src="assets/admin_icons/remove.png" height="14"></a>
                        </div>
                    </div>
                </a>
                <a *ngIf="category.children.length > 0" class="list-group-item list-group-item-success">
                    <div class="flex-between">
                        <div class="category-name"><span style="font-weight:normal">[{{category.id}}]</span> {{category.name}}</div>
                        <div>
                            <a (click)="editNavigation(category.id)" class="edit"><img alt="Edit" src="assets/admin_icons/edit.png" height="14"></a>
                            <a (click)="removeNavigation(category.id)" class="remove"><img alt="Remove" src="assets/admin_icons/remove.png" height="14"></a>
                        </div>
                    </div>
                    <div class="list-group collapsable in">
                        <ng-container *ngFor="let sub of category.children">
                            <a *ngIf="sub.children.length == 0" class="list-group-item list-group-item-info">
                                <div class="flex-between">
                                    <div class="category-name"><span style="font-weight:normal">[{{sub.id}}]</span> {{sub.name}}</div>
                                    <div>
                                        <a (click)="editNavigation(sub.id)" class="edit"><img alt="Edit" src="assets/admin_icons/edit.png" height="14"></a>
                                        <a (click)="removeNavigation(sub.id)" class="remove"><img alt="Remove" src="assets/admin_icons/remove.png" height="14"></a>
                                    </div>
                                </div>
                            </a>
                            <a *ngIf="sub.children.length > 0" class="list-group-item list-group-item-info">
                                <div class="flex-between">
                                    <div class="category-name"><span style="font-weight:normal">[{{sub.id}}]</span> {{sub.name}}</div>
                                    <div>
                                        <a (click)="editNavigation(sub.id)" class="edit"><img alt="Edit" src="assets/admin_icons/edit.png" height="14"></a>
                                        <a (click)="removeNavigation(sub.id)" class="remove"><img alt="Remove" src="assets/admin_icons/remove.png" height="14"></a>
                                    </div>
                                </div>
                                <div class="list-group collapsable in">
                                    <a *ngFor="let sub2 of sub.children" class="list-group-item list-group-item-warning">
                                        <div class="flex-between">
                                            <div class="category-name"><span style="font-weight:normal">[{{sub2.id}}]</span> {{sub2.name}}</div>
                                            <div>
                                                <a (click)="editNavigation(sub2.id)" class="edit"><img alt="Edit" src="assets/admin_icons/edit.png" height="14"></a>
                                                <a (click)="removeNavigation(sub2.id)" class="remove"><img alt="Remove" src="assets/admin_icons/remove.png" height="14"></a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</div>

<img src="/assets/admin_icons/edit_hover.png" style="display:none">
<img src="/assets/admin_icons/remove_hover.png" style="display:none">