<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Products [do edycji template]</h3>
        </div>
    </div>
    <div class="container">
        <div class="row bgcontainer">
            <div class="col-md-6">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th colspan="2">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of categories">
                            <td>{{c.id}}</td>
                            <td>{{c.name}}</td>
                            <td><a [routerLink]="'edit/' + c.id">Edit</a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">
                                <button class="btn btn-secondary btn-sm" mat-raised-button (click)="openDialog()">Create a category</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>