
<h3>Products</h3>
<div class="row margin-20 admin-bg">
    <div class="col-md-6">
        <button class="btn btn-primary btn-sm margin-10" (click)="createProduct()">Create a product</button>

        <mat-form-field class="full-width margin-10">
            <input (ngModelChange)="change()" matInput placeholder="Search for product/categories" type="input" [(ngModel)]="searchValue"
                name="search">
        </mat-form-field>

        <table class="table table-striped" *ngIf="products.length > 0">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Amount</td>
                    <td>[Manage]</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price | number:'.2':'fr'}} PLN</td>
                    <td>{{product.amount}}</td>
                    <td>
                        <a routerLink="/admin/products/edit/{{product.id}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>