<div class="row" style="width: 100%; min-height: 120px; border: 0px solid blue; margin-bottom: 10px; ">
    <div class="col-md-3" style="justify-content: space-around; display:flex; align-items: center;">
        <img *ngIf="product.image" height="140" src="{{imgSrc}}">
    </div>
    <div class="col-md-7">
        <h4><a style="text-decoration: none;" routerLink="{{url}}">{{product.name}}</a></h4>
        <div>
            <ul>
                <li *ngFor="let handyFeature of handyFeatures">{{handyFeature.name}}: {{handyFeature.values}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2" style="text-align: right">
        <h4>{{product.price}} PLN</h4>
        <button class="btn btn-danger btn-lg" (click)="addToCart_Click()">Add to cart</button>
    </div>
</div>