<div class="row" style="width: 100%; min-height: 120px; border: 0px solid blue; margin-bottom: 10px; ">
    <div class="col-md-3" style="text-align: center; display:flex; align-items: center;">
        <img *ngIf="product.image" height="120" src="{{imgSrc}}">
    </div>
    <div class="col-md-7">
        <h4>{{product.name}}</h4>
        <div>
            <ul>
                <li *ngFor="let handyFeature of handyFeatures">{{handyFeature.name}}: {{handyFeature.values}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-2" style="text-align: right">
        <h4>{{product.price}} PLN</h4>
    </div>
</div>