<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding-bottom: 20px; padding-top: 20px">
            <h4>Filters:</h4>
            <ng-container *ngIf="categoryLogic">
                <ng-container *ngFor="let fd of filterableDefinitions; let i=index">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="{{fd.def.name}}" [multiple]="fd.def.multipleValues" [(ngModel)]="filterableDefinitions[i].valuesNgModel" name="{{fd.def.name}}">
                            <mat-option *ngFor="let featureValue of fd.values" [value]="featureValue.id">
                                {{featureValue.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </ng-container>
            <div>
                <button class="btn btn-primary" style="width: 200px" (click)="doFilter()">Filter</button>
            </div>
            <div style="margin-top: 10px">
                <button class="btn btn-danger" style="width: 200px" (click)="doClearFilters()">Clear filters</button>
            </div>
        </div>
        <div class="col-md-9" style="padding-top: 10px; border-left: 2px solid #e8e8e8;">
            <div class="row" style="border-bottom: 2px solid #e8e8e8; width: 100%; height: 50px;">
                <div class="col-md-6">
                    <h4 style="margin-top: 5px">{{products?.length}} products found</h4>
                </div>
                <div class="col-md-6" style="text-align: right">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Sort" [(ngModel)]="sort" name="Sort" (change)="doSort()">
                            <mat-option value="default">Default</mat-option>
                            <mat-option value="prc-asc">From lowest price</mat-option>
                            <mat-option value="prc-desc">From greatest price</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <item-list-product *ngFor="let product of products" [product]="product"></item-list-product>
        </div>
    </div>
</div>