.bgcontainer {
    background-color: #D3D3D3;
    padding: 10px;
}

.editable-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editable-span {
    text-decoration: none;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}