<div class="container">
  <div class="row">
    <h3>Edit categogry</h3>
  </div>

  <div class="row bgcontainer" *ngIf="category">
    <div class="col-md-4">
      <h4>Basic informations:</h4>
      <span>ID: {{category.id}}</span><br>
      <span>Name: </span><dynamic-input-text [value]="category.name" (changeVal)="nameChange($event)"></dynamic-input-text>
    </div>
    <div class="col-md-4">
      <h4>Feature Groups:</h4>
      <ul>
        <li *ngFor="let g of category.featureGroups; let i=index">
            <dynamic-input-text [value]="category.featureGroups[i].name" (changeVal)="featureGroupNameChange(category.featureGroups[i].id, $event)"></dynamic-input-text>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Feature Definitions:</h4>
    </div>
  </div>
</div>
<hr>