body {
   height: 100%;

}

.bar {
    text-align: center;
    height: 50px;
    /* background-color: #ffffff; */
    background-color: #272634;
    border-bottom: 1px solid #e1e1e1;
}

.my-container {
    /* display: flex; */
    height: 100%;
    /* flex-direction: row; */
}

.sidebar {
    background-color: #272634;
    width: 250px;
    height: 100%;
    position: fixed;
    padding-top: 50px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li:not(:first-child) {
    margin-top: 7px;
}

.imgContainer {
    padding: 1px 3px;
    background-color: #1e1e2a;
    display: inline-block;
}

img {
    margin: 0;
    padding: 0;
}

.title {
    text-transform: uppercase;
    color: rgb(213, 213, 213);
    font-weight: bold;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 3px;
    font-size: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px rgb(28, 28, 28);
}

.sidebar a {
    color: #676676;
    font-weight: bold;
    font-size: Impact, Charcoal, sans-serif;
}

.sidebar a:hover {
    text-decoration: none;
    color: #888797;
}

.content {
    margin-left: 250px;
}

.contentOutlet {
    padding: 25px;
}