<div class="bar">
    <img src="assets/logo.png" height="50" />
    <h3 style="display: inline">Admin Center</h3>
</div>
<div class="my-container">
    <div class="sidebar">
        <ul>
            <li><a routerLink="/admin/dashboard">Dashboard</a></li>
            <li><a routerLink="/admin/categories">Categories</a></li>
            <li><a routerLink="/admin/products">Products</a></li>
            <li><a routerLink="/admin/orders">Orders</a></li>
            <li><a routerLink="/admin/users">Users</a></li>
        </ul>
    </div>
    <div class="content">
            <router-outlet></router-outlet>
    </div>
</div>