.editable-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editable-span {
    text-decoration: none;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.span-bold {
    font-weight: bold;
}
