/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.underline-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.underline-hover {
    text-decoration: none;
}

.bgcontainer {
    background-color: #E8E8E8;
    padding: 10px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
  }

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.admin-bg {
    background-color: #e2e2e2;
}